.form-container {
    max-width: 450px;
    width: 100%;
    padding: 35px;
    margin: auto;
}

.form-container .form-row {
    width: 100%;
    margin: 0 auto 10px;
}

.form-container .form-input {
    width: 100%;
    margin: 0 auto 15px;
}

.form-container .form-text {
    display: inline-block;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.form-container .sub-btn {
    height: 44px;
    padding: 0 25px;
    border: 3px solid #858585;
    font-size: 16px;
    font-weight: bold;
    color: #303841;
    background: transparent;
    display: inline-block;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

