.sort-btn {
    background: #b6b6b6;
    color: #333;
    border: none;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.btn-current-used {
    background: #333;
    color: #efefef;
    border: 1px solid #fff;
}